<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog>
    <time type="FastUTC" />
    <targets>
      <target name="console" type="ColoredConsole" layout="${time}|${level:uppercase=true}|${logger:shortName=true}|${message} ${exception:format=tostring}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
  </nlog>
</configuration>